body{
    margin: 0px;
    background-color: bisque;
    font-size: 2rem;
}
.ciencias, .dados, .matematica{
    display: inline-block;
    border: 2px solid rgb(82, 23, 138);
    padding: 10px;
    width: 20%;
    height: 100px;

}
main{
    border: 2px solid rgb(173, 0, 0);
    width: 99%;
    margin: 0 auto;
    text-align: center;
}


