:root{

}

body{
    background-color: #5F1A37;
    color: azure;
}

p{
    background-color: #73C2BE; 

    border-left: 5px dotted #5F1A37;
    padding-left: 10px;
    border-radius: 0px 50px 50px 0px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;
}
a{
    /* border-width: thin;
    border-color: rebeccapurple;
    border-style: solid; */
    border: thick rebeccapurple dashed;
    color: azure;
}
.engenharia{   

}
.ciencia{  

}
.sistemas{ 

}